.eminsight .form-group.first {
  margin-bottom: 0;
}
.experiance .c_title {
  width: 288px;
}
.contact_form_data .form-group {
  position: relative;
}
.contact_form_data .form-group .form-control {
  width: 94%;
}
p.em_career_file {
  font-size: 14px;
  color: #999;
  margin-top: 20px;
}
.cv_upload label span {
  font-size: 24px;
  color: #1468a8;
  width: auto;
  border: 0;
  display: inline-block;
  padding-right: 20px;
  vertical-align: middle;
}
.cv_upload label strong {
  float: none;
}
.contact_form_data small {
  width: 25px;
  height: 25px;
  float: left;
  background: 0 0;
  position: absolute;
  right: 0;
  top: 0;
}
.ok-icon small {
  background: url(images/tick.png) no-repeat center;
}
.error-icon .form-control,
.error-icon .form-control:focus,
.error-icon .form-control:hover {
  background: #ffe5e5;
  color: red;
  border-bottom: 2px solid #f99;
  font-weight: 700;
}
.error-icon small {
  background: url(images/error.png) no-repeat center;
}
.error-icon .form-control:focus::-webkit-input-placeholder,
.error-icon .form-control:hover::-webkit-input-placeholder,
.error-icon .form-control::-webkit-input-placeholder {
  font-weight: 700;
  color: red;
}
.error-icon .form-control:focus::-moz-placeholder,
.error-icon .form-control:hover::-moz-placeholder,
.error-icon .form-control::-moz-placeholder {
  font-weight: 700;
  color: red;
}
.error-icon .form-control:focus::-moz-placeholder,
.error-icon .form-control:hover::-webkit-input-placeholder,
.error-icon .form-control::-moz-placeholder {
  font-weight: 700;
  color: red;
}
.challenge p.case_p {
  margin-bottom: 16px;
}
.challenge ul li ul li:before {
  content: "\00bb";
  font-size: 20px;
}
.challenge ul li ul li ul li:before {
  content: "\00bb";
}
.blog_top > .filter_by > .select_dropdown_blog.newsyear {
  width: 135px;
}
.blog_top > .filter_by > .select_dropdown_blog {
  width: 253px;
}
.social_insight h3.result_text {
  font-family: pt sans, sans-serif;
  color: #3d578f;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 23px;
  padding-top: 8px;
}
.result_second {
  margin-top: 20px;
}
